<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<display-name>Ngsi10</display-name>
	<description>Ngsi10</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> /WEB-INF/spring-security.xml
        </param-value>
	</context-param>


	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
			org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext
		</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>



	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/errors/400.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/errors/401.html</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/errors/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/errors/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/errors/405.html</location>
	</error-page>
	
	<error-page>
		<error-code>406</error-code>
		<location>/WEB-INF/errors/406.html</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type> 
		<location>/WEB-INF/errors/500.html</location>
	</error-page>


 <!-- Spring Security -->
            <filter>
                        <filter-name>springSecurityFilterChain</filter-name>
                        <filter-class>
                  org.springframework.web.filter.DelegatingFilterProxy
                </filter-class>
            </filter>
            <filter-mapping>
                        <filter-name>springSecurityFilterChain</filter-name>
                        <url-pattern>/*</url-pattern>
            </filter-mapping>


 		<filter>
                <filter-name>monitoring</filter-name>
                <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        </filter>
                     
        <filter-mapping>
                <filter-name>monitoring</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        <listener>
                <listener-class>net.bull.javamelody.SessionListener</listener-class>
        </listener> 

</web-app>
