<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="schema_ngsi9_operation">${dir.config}/xmlSchema/Ngsi9_Operations_v08.xsd</entry>
<entry key="schema_ngsi10_operation">${dir.config}/xmlSchema/Ngsi10_Operations_v08.xsd</entry>

<entry key="pathPreFix_ngsi9">ngsi9</entry>
<entry key="pathPreFix_ngsi10">ngsi10</entry>

<entry key="ngsi9Uri">http://localhost:8075/</entry>
<entry key="ngsi9RemoteUrl"></entry>
<entry key="pub_sub_addr"></entry>

<entry key="default_content_type">application/json</entry>

<entry key="default_throttling">1000</entry>
<entry key="default_duration">31536000</entry>

<entry key="hsqldb.username">NEC</entry>
<entry key="hsqldb.password">neclab</entry>

<entry key="ignoreIoTDiscoveryFailure">true</entry>
<entry key="ignorePubSubFailure">true</entry>

<entry key="isMaster">true</entry>

<entry key="associationsEnabled">false</entry>

<entry key="storeQueryResponseAndNotifications">false</entry>

<entry key="timestampContextElement">false</entry>
<entry key="trackContextSource">false</entry>

</properties>
